<header class="header">
  <nav>
    <ul>
      <li class="logo">
        <div class="wrap">
          <a href="/">
            <img src="../images/christopher-castleberry-foundation-logo.svg" alt="">
          </a>
        </div>
      </li>
      <li class="dl"><a href="/about">About</a></li>
      <li class="dl"><a href="http://castleberryclassic.com/" target="_blank">Events</a></li>
      <li class="dl"><a href="/board-members">Board Members</a></li>
      <li class="dl">
        <form action="https://www.paypal.com/donate" method="post" target="_blank">
          <input type="hidden" name="hosted_button_id" value="VQZ348N8A6YAL" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img style="display:none" alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </li>
      <li class="mobile-toggle">
        <a id="mobile-toggle" href="#">
          <svg height="32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M4 10h24c1.104 0 2-.896 2-2s-.896-2-2-2H4c-1.104 0-2 .896-2 2s.896 2 2 2zm24 4H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2zm0 8H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2z"/></svg>
        </a>
      </li>
    </ul>
  </nav>
</header>

<div id="mobile-drawer">
   <ul class="large-links">
     <li class="dl"><a href="/about">About</a></li>
      <li class="dl"><a href="http://castleberryclassic.com/" target="_blank">Events</a></li>
      <li class="dl"><a href="/board-members">Board Members</a></li>
      <li class="dl">
        <form action="https://www.paypal.com/donate" method="post" target="_blank">
          <input type="hidden" name="hosted_button_id" value="VQZ348N8A6YAL" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img style="display:none" alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </li>
   </ul>
   <hr>
   <ul>
     <li>
        <a href="https://www.facebook.com/castleberryclassic" target="_blank">Like us on Facebook</a>
      </li>
      <li><a href="mailto:castleberryclassic@gmail.com">Email Us</a></li>
      <li><a href="tel:8702101378">Call Us</a></li>
   </ul>
</div>


<script>
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 200) {
        $(".header").addClass("scroll");
    } else {
        $(".header").removeClass("scroll");
    }
}); 

$("#mobile-toggle").click(function() {
  event.preventDefault();
  $("#mobile-drawer").toggleClass("open");
  $("body").toggleClass("lock");
});
</script>