<section id="home-hero">

	<div class="hero-logo">
		<h1>Fundraising<br>
		&mdash; through &mdash;
		<br>brotherhood</h1>
		<div class="bubbles">
			<span>
				<a href="https://www.facebook.com/castleberryclassic" target="_blank">
					<i class="icon-facebook"></i>
				</a>
			</span>
			<span><a href="mailto:castleberryclassic@gmail.com">
				<i class="icon-mail"></i>
			</a></span>
			<span><a href="tel:8702101378">
				<i class="icon-phone"></i>
			</a></span>
		</div>
		<div class="donate d-mobile">
	        <form action="https://www.paypal.com/donate" method="post" target="_blank">
	          <input type="hidden" name="hosted_button_id" value="VQZ348N8A6YAL" />
	          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
	          <img style="display:none" alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
	        </form>
		</div>
	</div>

	<div class="hero">
		<div style="background-image: url('../images/baggo-usa-flag.jpg')"></div>
		<div style="background-image: url('../images/guys-golfing-dressed.jpg')"></div>
		<div style="background-image: url('../images/horse-races-close-up.jpg')"></div>
		<div style="background-image: url('../images/baggo-patio-guys.jpg')"></div>
		<div style="background-image: url('../images/ladies-horse-races.jpg')"></div>
		<div style="background-image: url('../images/baggo-backyard-guys.jpg')"></div>
	</div>

</section>
   