.container {
	width: 100%;
	max-width: 990px;
	margin: 0 auto;
	padding: 15px;
}

#home-hero {
	position: relative;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 2rem;
	min-height: 500px;
	height: 50vh;
	text-align: center;

	@media (min-width: $screen-xs) {height: 50vh;}
	@media (min-width: $screen-sm) {
		height: 60vh;
		margin-top: 70px;
	}
	@media (min-width: $screen-md) {height: 70vh;}

	.slick-slider {
		padding: 2rem;
	}
	.slick-list {
		background-color: #EAECE9;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba($lite-green, 0.6);
			z-index: 2;
			user-select: none;
		}
	}
	.slick-slide {
		min-height: 500px;
		height: 50vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media (min-width: $screen-xs) {height: 50vh;}
		@media (min-width: $screen-sm) {height: 60vh;}
		@media (min-width: $screen-md) {height: 70vh;}
	}

	.hero-logo {
		position: absolute;
		display: inline-block;
		width: 60%;
		max-width: 350px;
		min-height: 100px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;

		h1 {
			color: #fff;
			font-weight: bold;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			margin-top: 1em;
			text-shadow: 3px 3px 18px rgba(32,32,32,0.5);
		}

		@media (min-width: $screen-xs) {
			width: 50%;
		}

		.bubbles {
			margin: 2rem 0 0 0;
			text-align: center;
			font-size: 1.6rem;

			@media (min-width: $screen-xs) {margin-top: 2.5rem;}
			@media (min-width: $screen-sm) {margin-top: 3rem; font-size: 1.8rem;}
			@media (min-width: $screen-md) {margin-top: 3.5rem;}

			span {
				height: 40px;
				width: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				overflow: hidden;
				transition: 0.15s ease-out;
				margin: 0 0.08em;
				background-color: rgba(#E05F5F, 0.8);
				border: #E05F5F;

				@media (min-width: $screen-xs) {
					margin: 0 0.12em;
					height: 45px;
					width: 45px;
				}
				@media (min-width: $screen-sm) {
					margin: 0 0.18em;
					height: 50px;
					width: 50px;
				}
				@media (min-width: $screen-md) {margin: 0 0.24em;}

				a {
					color: #fff;
				}

				&:hover {
					background-color: #E05F5F;
					transform: scale(1.1);
				}
			}
		}

		.donate {
			text-align: center;
			margin: 1em 0 0 0;
			input {border: none;}
		}
	}
}

#home-intro {
	padding: 4rem 0;
}

ul.service-cards {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;

	li {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		width: 85%;
		margin: 1%;
		border: 1px solid rgba($brand-green, 0.1);
		padding: 20px;
		text-align: center;

		@media (min-width: $screen-xs) {width: 45%;}
		@media (min-width: $screen-sm) {width: 31%;}
		@media (min-width: $screen-md) {width: 23%; padding: 20px;}
		@media (min-width: $screen-lg) {}

		span.svg-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 72px;
			width: 72px;
			background-color: rgba($brand-green, 0.1);
			border-radius: 50%;
			margin: 0 0 15px 0;

			svg {
				display: inline-block;
				width: 40px;
				height: auto;
				fill: darken($brand-green, 10%);
			}
		}
		h5 {
			margin: 10px 0;
			padding: 0;
		}
		p {
			margin: 0;
			margin-top: auto;
			color: darken($brand-green, 10%);
			line-height: 1.28;
			font-size: 14.5px;
			padding: 0;
			display: none;
		}
	}
}

#instafeed {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	margin-bottom: 80px;	

	a {
		width: 45%;
		margin: 1%;

		img {}

		&:hover {opacity: 0.9;}

		@media (min-width: $screen-xs) {width: 45%;}
		@media (min-width: $screen-sm) {width: 31%;}
		@media (min-width: $screen-md) {width: 23%;}
	}
}


// Footer
footer {
	padding: 4rem 2em;
	text-align: center;
}

// display utility
.d-mobile {
	@media (min-width: $screen-sm) {display: none;}
}

.memory-section {
	padding: 2.25em 0;
	position: relative;
	background-color: #f7f4f4;
	margin: 1em 0 2em 0;

	.flex-center {
		display: flex;
		align-items: center;
		position: relative;
		@media (max-width: $screen-sm) {flex-direction: column;}
	}

	.memory {
		/*&:before {
			content: '';
			display: block;
			position: absolute;
			top: -1px;
			right: -1px;
			bottom: -1px;
			width: 100%;
			z-index: 10;
			background-image: linear-gradient(to right, rgba(#f7f4f4, 0) , rgba(#f7f4f4, 1));

			@media (max-width: $screen-sm) {
				background-image: none;
			}
		}*/
	}
	.story {
		padding: 0 10%;

		@media (max-width: $screen-sm) {
			margin: 2em 0 0 0;
			padding: 0 3%;
		}

		p {
			&:before {
				content: '';
				display: block;
				height: 3px;
				width: 75px;
				background: $brand-red;
				margin: 0 0 1.3em 0;
			}
		}
	}
}

.memory.slick-slider,
.memory .slick-slide {
	width: 400px;
    height: 400px;

    @media (max-width: $screen-xs) {
    	height: 320px;
    	width: 100%;
    	max-width: 400px;
    }
}
.memory .slick-slide {
	background-size: cover;
	background-position: center;
}



