$serif: 'Nanum Myeongjo', Arial ,Helvetica Neue, Helvetica, serif;
$sans-serif: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
  font-weight: 400;
  margin: 0 0 0.3em 0;
  line-height: 1.37; 
  color: #333
}
h4, h5, h6 {line-height: 1.52;}
h1 {
  font-size: 24px;
  @media (min-width: 650px) {font-size: 28.75px;}
  @media (min-width: 1030px) {font-size: 33.5px;}
  @media (min-width: 1230px) {font-size: 38.25px;}
  @media (min-width: 1480px) {}
}
h2 {
  font-size: 22px;
  @media (min-width: 650px) {font-size: 25px;}
  @media (min-width: 1030px) {font-size: 28px;}
  @media (min-width: 1230px) {font-size: 31px;}
  @media (min-width: 1480px) {}
}
h3 {
  font-size: 20px;
  @media (min-width: 650px) {font-size: 22px;}
  @media (min-width: 1030px) {font-size: 23.5px;}
  @media (min-width: 1230px) {font-size: 25px;}
  @media (min-width: 1480px) {}
}
h4 {
  font-size: 18.75px;
  @media (min-width: 650px) {font-size: 20.05px;}
  @media (min-width: 1030px) {font-size: 21.35px;}
  @media (min-width: 1230px) {font-size: 22.65px;}
  @media (min-width: 1480px) {}
}
h5 {
  font-size: 18px;
  @media (min-width: 650px) {font-size: 18.3px;}
  @media (min-width: 1030px) {font-size: 18.6px;}
  @media (min-width: 1230px) {font-size: 19.5px;}
  @media (min-width: 1480px) {}
}
h6 {
  font-size: 17.15px;
  @media (min-width: 650px) {font-size: 17.83px;}
  @media (min-width: 1030px) {font-size: 17.85px;}
  @media (min-width: 1230px) {font-size: 18.2px;}
  @media (min-width: 1480px) {}
}

p, ul, ol, li {
  font-family: $sans-serif;
  line-height: 1.75em;
  font-size: 14.75px;
  @media (min-width: 650px) {font-size: 15.25px;}
  @media (min-width: 1030px) {font-size: 15.75px;}
  @media (min-width: 1230px) {font-size: 16px;}
  @media (min-width: 1480px) {}
}

p {
  margin: 0 0 1em 0;
}

// Relation spacing
h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6,
h2+h1, h2+h2, h2+h3, h2+h4, h2+h5, h2+h6
h3+h1, h3+h2, h3+h3, h3+h4, h3+h5, h3+h6,
h4+h1, h4+h2, h4+h3, h4+h4, h4+h5, h4+h6,
h5+h1, h5+h2, h5+h3, h5+h4, h5+h5, h5+h6,
h6+h1, h6+h2, h6+h3, h6+h4, h6+h5, h6+h6 {
  padding-top: .75em;
  @media (min-width: 1030px) {padding-top: .55em}
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {padding-top: .25em;}
