---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>

    <div class="site-wrap">

    {% include header.html %}
    {% include home-hero.html %}

    <div id="home-intro">
      <div class="container text-center">
      	<h1>Our Story</h1>
      	<p class="ft-20">The Castleberry Classic was formed more than ten years ago to honor a deceased friend, fraternity brother, and schoolmate, Christopher Castleberry.</p>
        <p class="ft-20">Christopher was a bright young man, a college graduate who served his country with honor in the reserves for four years, but sadly, like many others, he tragically lost his life due to substance abuse.</p>
        <hr>
      </div>
      <div class="container">
        <p>As anyone who has lost someone at too young an age knows, the loss rippled through family, fraternity brothers, school alumni, and friends. Upon heartfelt reflection, a small group of former classmates decided to honor Christopher's memory, and in doing so to help create additional awareness for something so many Americans struggle with, often in private.</p>
        <p>The Christopher Castleberry Memorial Foundation's mission is to award an annual scholarship to a senior at Fountain Lake High School and a business student at Henderson in honor of a great friend. Our goal is to grow our Edward Jones Investment Fund large enough to generate an endless flow of scholarships.</p>
        <p>The Edward Jones Endowment Funds was started five years ago and has since distributed more than $21,500.00 worth of scholarships.</p>
        <p>We are gearing up for the 11th Annual Christopher Castleberry Game Day Classic! The Baggo tournament will be Saturday, September 4th, 2021, in North Little Rock, AR, at Diamond Bear Brewing Co.</p>
        <p>Thanks to our sponsors and players, we had a record-breaking year last year and are looking forward to raising even more money this year for the Christopher Castleberry Memorial Foundation.</p>
        <p>We would not be able to grow these scholarships if it weren't for our fantastic sponsors and their willingness to give. Thank you all so much, and we hope to see you on September 4th.</p>
        
      </div>
    </div>
    
    {% include footer.html %}


  </div> <!-- .site-wrap end -->

  </body>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.hero').slick({
		dots: false,
		arrows: false,
		infinite: true,
		speed: 1200,
		fade: true,
		autoplay: true,
		draggable: false,
  		autoplaySpeed: 3600,
  		pauseOnFocus: false,
  		pauseOnHover: false,
  		pauseOnDotsHover: false,
		cssEase: 'ease-out'
      });
    });
  </script>

</html>
